extends layout

block content
	.jumbotron
		.container
			h1 How may i help you
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About us
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				a.btn.btn-default(href="#") View Detail
			.col-md-4
				h2 Service
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				a.btn.btn-default(href="#") View Detail
			.col-md-4
				h2 Get in touch
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				a.btn.btn-default(href="#") View Detail